@charset "utf-8";
/* CSS Document */
footer {
	overflow: auto;
}
footer .copyright {
	padding: 10px 0;
	text-align: center;
}
.logo--footer {
	display: inline-block;
	width: 200px;
}
.logo--footer img {
	width: 100%;
}
.bottom--footer {
	padding:10px 20px;
	background: #cb2328;
	overflow-y: auto; 
}
footer > div.col-md-12 {
	padding: 0;
}
.info--footer {
	float: right;
	width: 380px;
}
.info--footer h3 {
	margin-top: 5px;
}
.info--footer i {
	color: white;
	margin-right: 20px;
}