@charset "utf-8";
/* CSS Document */
.logo img {
	height: auto;
	width: 200px;
}

nav {
	padding: 20px 0;
}
.navbar-default {
	background: none;
	border: none;
	margin-bottom: 5px;
}
.collapse {
	width: calc(100% - 300px);
	float: right;
	margin-top: 30px;
	background: black;
}

.nav li a {
	color: white !important;
}
.nav li a:hover {
	color: rgb(0,157,245) !important;
}
	