@charset "utf-8";
/* CSS Document */
.carousel-inner {
	position: relative;
	height: 600px;
}
.carousel-inner .item {
	height: 100%;
}
.carousel-inner .item img {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100%;
	transform: translate(-50%, -50%);
}
.carousel-heading {
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	z-index: 99999;
}
.carousel-heading button {
	padding: 20px;
	margin: 20px 0;
	border: none;
	border-radius: 30px;
	background: rgb(0,157,245);
}
.caption--carousel {
	position: absolute;
	width: 30vw;
	left: 0;
	bottom: 50px;
	padding: 20px 0 20px 7vw;
	background: rgba(0,0,0,0.60);
}
.about {
	display: flex;
	justify-content: stretch;
	flex-wrap: wrap;
	color: white;
	background: #3da7ff;
	overflow-y: auto;
}
.text--about {
	padding: 20px 5vw 20px 5vw;
}
.p--about {
	margin: 20px 0;
}
.img--about {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 25px 0;
}
.img-cont--about {
	width: 250px;
}
.img-cont--about img {
	width: 100%;
}
.whywe {
	padding: 30px 0;
	overflow-y: auto;
}
.img--whywe {
	text-align: center;
}
.cont--whywe {
	padding: 20px 0;
}
.p--whywe {
	padding: 10px 5vw 0;
}

.projects {
	overflow: auto;
}
.cont--projects {
	width: 100%;
}
.project--projects {
	display: inline-block;
	padding: 0;
}
.cont--projects img {
	width: 100%;
}
.project--projects:hover .hover--projects {
	visibility: visible;
}
.hover--projects {
	display: flex;
	position: absolute;
	flex-direction: column;
	justify-content: center;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	padding: 20px;
	background: rgba(0,0,0,0.50);
	visibility: hidden;
}

.materials {
	display: flex;
	padding: 50px 0;
	justify-content: stretch;
}
.materials.row {
	margin-left: 0;
	margin-right: 0;
}
.owl-item {
	padding: 0 10px;
}
.button--carousel {
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
}
.button--carousel i {
	font-size: 7em;
	color: #3da7ff;
	cursor: pointer;
}
.img--material {
	width: 100%;
}
.img-single--material {
	width: 100%;
}
.p--materials {
	width: 100%;
	margin: 15px 0;
}

.differencies {
	width: 100%;
	padding: 30px 0 70px;
	background: #3da7ff;
	overflow-y: auto;
}
.differencies h3 {
	padding: 10px 20px;
	margin: 20px auto 50px;
	border-bottom: solid thin red;
	width: 540px;
}
.img--differencies {
	text-align: center;
}
.p--differencies {
	padding: 20px 5vw 0;
}

.benefits {
	position: relative;
	width: 100%;
	padding: 30px 0;
	background: url(../../img/benefits-back.jpg);
	background-position: center center;
	overflow: auto;
}
.badge--benefits {
	position: absolute;
	top: 0;
	left: 0;
	width: 200px;
	height: 200px;
	background: url(../../img/badge.png);
	background-size: cover;
	z-index: 99999;
}
.badge-2--benefits {
	margin: 50px 0;
	text-align: center;
}
.badge-2--benefits img {
	width: 300px;
}
.roof {
	position: absolute;
	top: 50px;
	right: 50px;
}
.roof--benefits {
    padding: 50px 0;
	text-align: center;
}
.roof--benefits img{
	width: 300px;
}
.cont--benefit {
	display: flex;
	flex-direction:row;
	justify-content: flex-start;
	align-items: center;
	margin: 20px 0;
}
.icon--benefit {
	width: 50px;
}
.icon--benefit img {
	width: 100%;
	min-width: 50px;
}
.text--benefit {
	margin-left: 20px;
	color: white;
}

.download {
	padding: 30px 0;
	text-align: center;
	background: #3da7ff;
	overflow: auto;
}
.download h3 {
	margin-top: 0;
}
.download button {
	padding: 5px 20px 7px;
	border: none;
	border-radius: 10px;
	margin: 0 auto;
	background: red;
}
