@charset "utf-8";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,300&subset=latin,cyrillic);
/* CSS Document */
body {
	font-family: 'Open Sans', Arial, sans-serif;
}
.carousel-heading h1 {
	font-size: 5em;
	font-weight: 700;
	color: white;
}
.utp--carousel {
	font-size: 2em;
	font-weight: 400;
	color: white;
	text-align: center;
}
button {
	font-size: 1.5em;
	font-weight: 400;
	color: white;
}
.caption--carousel {
	font-size: 1.3em;
	font-weight: 400;
	color: white;
	text-transform: uppercase;
}

.p--about {
	line-height: 2em;
}

.whywe h3 {
	font-size: 3em;
	font-weight: 400;
	color: #cb2328;
	text-align: center;
	text-transform: uppercase;
}
.p--whywe {
	color: #3da7ff;
}

.hover--projects h5 {
	color: red;
	font-size: 1.5em;
	text-align: center;
	text-transform: uppercase;
}
.p--projects {
	color: white;
	font-size: 1.2em;
	text-align: center;
}

.p--materials {
	color: grey;
	font-size: 1.2em;
	text-align: center;
}
.differencies h3 {
	font-size: 3em;
	color: white;
	text-align: center;
	text-transform: uppercase;
}
.p--differencies {
	color: white;
	text-align: center;
}
.text--benefit h6 {
	font-size: 1.4em;
	margin: 0 0 5px;
}
.text--roof {
	font-size: 1.4em;
	color: white;
}

.download h3 {
	color: white;
	text-align: center;
}
.download button {
	color: white;
	font-size: 1.7em;
}

.info--footer {
	color: white;
}
.info--footer h3 {
	color: white;
}