@charset "utf-8";
/* CSS Document */
@media only screen and (max-width : 1060px) {
	.carousel-inner .item img {
		height: 100%;
		width: auto;
		max-width: none;
	}
}
@media only screen and (max-width : 992px) {
	#left--materials, #right--materials {
		font-size: 3em;
	}
	.cont--differencies {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
	.benefits {
		background-size: cover;
	}
	.roof {
		position: relative;
		top: auto;
		right: auto;
	}
	.roof--benefits {
		padding: 0;
	}
	.text--roof {
		padding: 20px 0;
	}
	.roof--benefits img {
		width: 100%;
		max-width: 300px;
	}
	.badge-2--benefits img {
		width: 100%;
		max-width: 280px;
	}
	.cont--benefits {
		padding: 0;
	}
	.icon--benefit {
		min-width: 50px;
	}
	.text--benefit {
		overflow: auto;
	}
	.badge--benefits {
		height: 140px;
		width: 140px;
	}
	.cont--benefits {
		clear: both;
	}
}
@media only screen and (max-width : 768px) {
	button.navbar-toggle {
		margin: 35px 0 0 0;
	}
	.navbar-collapse.in {
		position: relative;
		left: -15px;
		width: 100%;
	}
	.caption--carousel {
		width: 70vw;
	}
	.img--about {
		width: 100%;
	}
	.differencies h3 {
		width: 280px;
		font-size: 1.4em;
		margin-bottom: 20px;
	}
	.img--differencies {
		width: 150px;
		margin: 0 auto;
	}
	.img--differencies img {
		width: 100%;
	}
	.p--differencies {
		padding-bottom: 40px;
	}
	.differencies > div > div:last-child .p--differencies {
		padding-bottom: 0;
	}
	.bottom--footer {
		padding: 10px 0;
	}
	.logo--footer {
		width: 95px;
		padding: 0;
		margin-top: 25px;
	}
	.info--footer {
		max-width: 380px;
	}
	
}
@media only screen and (max-width : 480px) {
	.carousel-inner {
		height: 450px;
	}
	.carousel-heading h1 {
		font-size: 3em;
	}
	.utp--carousel {
		font-size: 1.5em;
	}
	.caption--carousel {
		width: 100vw;
		padding: 20px 7vw;
		font-size: 0.9em;
		text-align: center;
	}
	.cont--differencies {
		display: block;
	}
	.logo--footer {
		width: 100%;
		text-align: center;
	}
	.logo--footer img {
		max-width: 150px;
		margin: 20px 0;
	}
}
@media only screen and (max-width : 360px) {
	.info--footer {
		max-width: 310px;
	}
}
	